.header {
  background-color: $white;

  &__container {
    width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__burger {
        display: none;
    }

    &__navList {
      display: flex;
      align-items: center;
      gap: 45px;

      a {
        color: $gray;
      }

      &__button {
        @include button(4px, 10px 16px, $complementary-600, $white, #146356)
      }
    }
  }
}

@include desktop() {
  .header {
    &__container {
      width: 1050px;

      &__navList {
        &__button {
          @include button(4px, 9px 14px, $complementary-600, $white, #146356)
        }
      }
    }
  }
}

@include tablet() {
  .header {
    &__container {
      width: 700px;
 
      &__burger {
          display: block;
          img {
            cursor: pointer;
          }
      }

      &__navList {
        display: none;
      }
    }
  }
}
 
@include mobile() {
  .header {
    &__container {
      width: 350px;
    }
  }
}