header {
  background-color: #003444;
  color: white;
  padding: 20px;
  text-align: center;

  nav {
    display: inline-block;

    a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
    }
  }
}