.advantages {

  .container__row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .column {
    width: 300px;

    &__img {
      width: 300px;
      height: 300px;
      margin-bottom: 20px;
      border-radius: 100%;
      background-color: #003444;
    }
  }
}