@import './variables';
@import './mixins';
@import './reset';
@import './media_breakpoints';

 

body {
  background-color: $white;
  color: $dark-blue;
  font-family: "Kumbh Sans", sans-serif;
}


@import './header';
@import './burger_menu';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


@import './esteemTherapy'; 
@import './TransformYourLife';

